.about {
    display: block;
    background-color: $info-yellow;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5px;

    h1 {
        background-color: $background-red;
    }

    p {
        color: $logo-white;
    }
}