@use './Partials/colors';
@use'./Partials/paddings-common';
@use './Partials/widths';
@use './Partials/body-style';
@use './Partials/header';
@use './Partials/logo';
@use './Partials/local';
@use './Partials/bikes';
@use './Partials/signup';
@use './Partials/about';


$background-red: #e64448;
$logo-white: #fff;
$join-gray: #3c3a48;
$form-blue: #89c5c7;
$form-text-blue: #0b354b;
$info-yellow: #eab244;

// @mixin paddings {
//     padding-top: 20px;
//     padding-bottom: 20px;
//     padding-left: 5px;
// }

// @mixin widths{
//     width: 80%;
// }

// body {
//     width: 400px;
//     margin: auto;
//     background-color:colors.$background-red;
// }

// header {
//     background-color: $background-red;
//     padding-left: 5px;
// }

// .logo {
//     @include widths;
//     padding-top: 10px;
//     padding-bottom: 20px;
// }

// .local {
//     @include paddings;
//     @include widths;


//     h1 {
//         background-color: $join-gray;
//     }

//     p {
//         color: $info-yellow;
//     }

// }

// .bikes {
//     background-color: $logo-white;
//     text-align: center;
// }

// .signup {
//     @include paddings;

//     h1 {
//         color: $join-gray;
//     }

//     // form {}

//     label {
//         display: block;
//         margin-bottom: 5px;
//     }

//     input {
//         display: block;
//         margin-bottom: 20px;
//     }
// }


// .about {
//     display: block;
//     background-color: $info-yellow;
//     @include paddings;

//     h1 {
//         background-color: $background-red;
//     }

//     p {
//         color: $logo-white;
//     }
// }