$background-red: #e64448;
$logo-white: #fff;
$join-gray: #3c3a48;
$form-blue: #89c5c7;
$form-text-blue: #0b354b;
$info-yellow: #eab244;


header {

    img {}
}

.local {
    h1 {}

    p {}

    p {}

    p {}
}

.bikes {

    img {}

}

.signup {

    h1 {}

    form {}

    label {}

    input {}
}

.about {
    h1 {}

    p {}
}