@use './paddings-common';
@use './colors';


.about {
    display: block;
    background-color: colors.$info-yellow;
    @include paddings-common.paddings;

    h1 {
        background-color: colors.$background-red;
    }

    p {
        color: colors.$logo-white;
    }
}