@use './paddings-common';
@use './colors';

.signup {
    @include paddings-common.paddings;

    h1 {
        color: colors.$join-gray;
    }

    // form {}

    label {
        display: block;
        margin-bottom: 5px;
    }

    input {
        display: block;
        margin-bottom: 20px;
    }
}
